@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
.App {
  text-align: center;
}

a {
  text-decoration: none;
}
.nonedec {
  color: inherit;
}
.nonedec:hover {
  color: inherit;
}
.nonedec:active {
  color: inherit;
}


/* Testing */
.WOW {
  background-color: sandybrown;
}


/* Fonts */
.jostfont {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
.montfont {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}
.textvis {
  opacity: 100%;
  transition: 300ms all ease;
}
.texthid {
  opacity: 0%;
  transition: 300ms all ease;
}

.darkfont {
  color: #111;
}
.lightfont {
  color: #eeeeee;
}



/* Themes */
.dark {
  background-color: #111;
  transition: 300ms all ease;
  color: #eeeeee;
}
.light {
  background-color: #ffffff;
  transition: 300ms all ease;
  color: #111;
}

.full {
  height: 100%;
}


/* Colors */

.taglight {
  border-radius: 10px;
  background-color: #fa605b;
  color: #ffffff;
}
.tagdark {
  border-radius: 10px;
  background-color: #42dadf;
  color: #111111;
}


/* Icons */

/* Light */
.icolight {
  color: #eeeeee;
  transition: 300ms ease;
  margin-left: calc(40%);
  margin-right: calc(40%);
}
  .icolight:hover {
    cursor: pointer;
    transition: 300ms ease;
  }
  .icolight:active {
    color: #eeeeee;
  }

/* Dark */
.icodark {
  color: #111;
  transition: 300ms ease;
  margin-left: calc(40%);
  margin-right: calc(40%);
}
  .icodark:hover {
    cursor: pointer;
    color: #111;
    transition: 300ms ease;
  }
  .icodark:active {
    color: #111;
  }

/* Arrows */
.arrowlight {
  cursor: pointer;
  color: #111111;
  transition: 300ms ease;
}
.arrowlight:hover {
  cursor: pointer;
  color: #fa605b;
  transition: 300ms ease;
}

.arrowdark {
  cursor: pointer;
  color: #eeeeee;
  transition: 300ms ease;
}
.arrowdark:hover {
  cursor: pointer;
  color: #42dadf;
  transition: 300ms ease;
}

/* Anime */
.icorotate:hover {
  transform: rotate(20deg);
  transition: 300ms ease;
}
.icozoom:hover {
  transform: scale(1.5);
  transition: 300ms ease;
}
.icodown:hover {
  transform: translateY(8px);
  transition: 300ms ease;
}
.icoopac:hover {
  opacity: 50%;
  color: #808080;
  transition: 300ms ease;
}

/* CARDS */

/* Light */
.cardlight {
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff;
  color: #111;
  border-radius: 8px;
  box-shadow:  18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
  transition: 300ms all ease;
}
.cardlight:hover {
  transform: scale(1.05);
  transition: 300ms all ease;
  box-shadow:  39px 39px 78px #d9d9d9, 
             -39px -39px 78px #ffffff;
}
.smol{
  margin-left: 20% !important;
  margin-right: 20% !important;
}

/* Dark */
.carddark {
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #111111;
  color: #ffffff;
  border-radius: 8px;
  box-shadow:  5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818;
  transition: 300ms all ease;
}
.carddark:hover {
  transform: scale(1.05);
  transition: 300ms all ease;
  box-shadow:  16px 16px 32px #0a0a0a, 
             -16px -16px 32px #181818;
}

/* IMAGE */

/* Light */
.imglight {
  max-width: 50%;
  height: auto;
  width: auto\10; /* ie8 */
  box-shadow:  18px 18px 55px #d9d9d9, 
              -18px -18px 55px #ffffff;
  border-radius: 50%;
}

/* Dark */
.imgdark {
  max-width: 50%;
  height: auto;
  width: auto\10; /* ie8 */
  border-radius: 50%;
}

/* On Large Screens */
@media (min-width: 768px) { 
  .imglight {
    max-width: 15%;
    height: auto;
    width: auto\10; /* ie8 */
    box-shadow:  18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
    border-radius: 50%;
  }

  .imgdark {
    max-width: 15%;
    height: auto;
    width: auto\10; /* ie8 */
    border-radius: 50%;
  }
}


.rounded {
  border-radius: 50%;
}


/* Buttons */

/* Light */
.butlight {
  color: #eeeeee;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fa605b;
  text-decoration: none;
  border-radius: 8px;
  box-shadow:  5px 5px 10px #d4d4d4, 
             -5px -5px 10px #ffffff;
}
.butlight:hover {
  color: #eeeeee;
  text-decoration: none;
}
.butlight:active {
  color: #eeeeee;
  text-decoration: none;
}


/* Dark */
.butdark {
  color: #111;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #42dadf;
  text-decoration: none;
  border-radius: 8px;
  box-shadow:  5px 5px 10px #0a0a0a, 
             -5px -5px 10px #181818;
}
.butdark:hover {
  text-decoration: none;
  color: #111;
}
.butdark:active {
  text-decoration: none;
  color: #111;
}



.text-1 {
  font-size: calc(100% + 2.5vh + 2.5vw);
}
.text-2 {
  font-size: calc(100% + 2vh + 2vw);
}
.text-3 {
  font-size: calc(100% + 1.5vh + 1.5vw);
}
.text-4 {
  font-size: calc(100% + 1vh + 1vw);
}
.text-5 {
  font-size: calc(100% + 0.8vh + 0.8vw);
}
.text-6 {
  font-size: calc(100% + 0.6vh + 0.6vw);
}
.text-7 {
  font-size: calc(100% + 0.3vh + 0.3vw);
}
.text-8 {
  font-size: calc(100% + 0.2vh + 0.2vw);
}
.text-9 {
  font-size: calc(100% + 0.1vh + 0.1vw);
}
.text-10 {
  font-size: calc(70% + 0.1vh + 0.1vw);
}