@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
.App {
  text-align: center;
}

/*  * {
  border: 1px solid rgb(30, 64, 255) !important;
}  */

a {
  text-decoration: none;
}
.nonedec {
  color: inherit;
  text-decoration: none;
}
.nonedec:hover {
  color: inherit;
  text-decoration: none;
}
.nonedec:active {
  color: inherit;
  text-decoration: none;
}


/* Testing */
.WOW {
  background-color: sandybrown !important;
}


/* Fonts */
.jostfont {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
.montfont {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}
.textvis {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
.texthid {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}

.darkfont {
  color: #111;
}
.lightfont {
  color: #eeeeee;
}



/* Themes */
.dark {
  background-color: #111;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
  color: #eeeeee;
}
.light {
  background-color: #ffffff;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
  color: #111;
}

.full {
  height: 100%;
}


/* Colors */

.taglight {
  border-radius: 10px;
  background-color: #fa605b;
  color: #ffffff;
}
.tagdark {
  border-radius: 10px;
  background-color: #42dadf;
  color: #111111;
}
.tagblack {
  border-radius: 10px;
  color: #eeeeee;
  background: linear-gradient(145deg, #121212, #0f0f0f);
  -webkit-box-shadow: 5px 5px 10px #0b0b0b, 
             -5px -5px 10px #171717;
  -moz-box-shadow: 5px 5px 10px #0b0b0b, 
             -5px -5px 10px #171717;
  -ms-box-shadow: 5px 5px 10px #0b0b0b, 
             -5px -5px 10px #171717;
  -o-box-shadow: 5px 5px 10px #0b0b0b, 
             -5px -5px 10px #171717;
  box-shadow: 5px 5px 10px #0b0b0b, 
             -5px -5px 10px #171717;
}
.tagwhite {
  border-radius: 10px;
  color: #111111;
  -webkit-box-shadow: 5px 5px 10px #969696, 
             -5px -5px 10px #ffffff;
  -moz-box-shadow: 5px 5px 10px #969696, 
             -5px -5px 10px #ffffff;
  -ms-box-shadow: 5px 5px 10px #969696, 
             -5px -5px 10px #ffffff;
  -o-box-shadow: 5px 5px 10px #969696, 
             -5px -5px 10px #ffffff;
  box-shadow: 5px 5px 10px #969696, 
             -5px -5px 10px #ffffff;
}


/* Icons */

/* Light */
.icolight {
  color: #eeeeee;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
  .icolight:hover {
    cursor: pointer;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    transition: 300ms all ease;
  }
  .icolight:active {
    color: #eeeeee;
  }

/* Dark */
.icodark {
  color: #111;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
  .icodark:hover {
    cursor: pointer;
    color: #111;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    transition: 300ms all ease;
  }
  .icodark:active {
    color: #111;
  }

/* Arrows */
.arrowlight {
  cursor: pointer;
  color: #111111;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
.arrowlight:hover {
  cursor: pointer;
  color: #fa605b;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}

.arrowdark {
  cursor: pointer;
  color: #eeeeee;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
.arrowdark:hover {
  cursor: pointer;
  color: #42dadf;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}

/* Anime */
.icorotate:hover {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
.icozoom:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
/* CARDS */

/* Light */
.cardlight {
  background-color: #ffffff;
  color: #111;
  border-radius: 8px;
  -webkit-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
  -moz-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
  -ms-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
  -o-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
  box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
.cardlight:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
  -webkit-box-shadow: 39px 39px 78px #d9d9d9, 
             -39px -39px 78px #ffffff;
  -moz-box-shadow: 39px 39px 78px #d9d9d9, 
             -39px -39px 78px #ffffff;
  -ms-box-shadow: 39px 39px 78px #d9d9d9, 
             -39px -39px 78px #ffffff;
  -o-box-shadow: 39px 39px 78px #d9d9d9, 
             -39px -39px 78px #ffffff;
  box-shadow: 39px 39px 78px #d9d9d9, 
             -39px -39px 78px #ffffff;
}
.smol{
  margin-left: 20% !important;
  margin-right: 20% !important;
}

/* Dark */
.carddark {
  background-color: #111111;
  color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818;
  -moz-box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818;
  -ms-box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818;
  -o-box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818;
  box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818;
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
.carddark:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);  
  -webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -ms-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
  -webkit-box-shadow: 16px 16px 32px #0a0a0a, 
             -16px -16px 32px #181818;
  -moz-box-shadow: 16px 16px 32px #0a0a0a, 
             -16px -16px 32px #181818;
  -ms-box-shadow: 16px 16px 32px #0a0a0a, 
             -16px -16px 32px #181818;
  -o-box-shadow: 16px 16px 32px #0a0a0a, 
             -16px -16px 32px #181818;
  box-shadow: 16px 16px 32px #0a0a0a, 
             -16px -16px 32px #181818;
}

/* Blog */
.blogcard{
  cursor: pointer;
}

/* IMAGE */

/* Light */
.imglight {
  max-width: 50%;
  height: auto;
  width: auto\10; /* ie8 */
  -webkit-box-shadow: 18px 18px 55px #d9d9d9, 
              -18px -18px 55px #ffffff;
  -moz-box-shadow: 18px 18px 55px #d9d9d9, 
              -18px -18px 55px #ffffff;
  -ms-box-shadow: 18px 18px 55px #d9d9d9, 
              -18px -18px 55px #ffffff;
  -o-box-shadow: 18px 18px 55px #d9d9d9, 
              -18px -18px 55px #ffffff;
  box-shadow: 18px 18px 55px #d9d9d9, 
              -18px -18px 55px #ffffff;
  border-radius: 50%;
}

/* Dark */
.imgdark {
  max-width: 50%;
  height: auto;
  width: auto\10; /* ie8 */
  border-radius: 50%;
}

/* On Large Screens */
@media (min-width: 768px) { 
  .imglight {
    max-width: 15%;
    height: auto;
    width: auto\10; /* ie8 */
    -webkit-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
    -moz-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
    -ms-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
    -o-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
    box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff;
    border-radius: 50%;
  }

  .imgdark {
    max-width: 15%;
    height: auto;
    width: auto\10; /* ie8 */
    border-radius: 50%;
  }
}

/* Blog Image */
.blogimg {
  border-radius: 8px 8px 0px 0px; 
}
.rounded {
  border-radius: 50%;
}

/* About Image */
.aboutimglight {
  border-radius: 8px;
  -webkit-box-shadow: -7px -7px 43px #d1d1d1, 
             7px 7px 43px #ffffff;
  -moz-box-shadow: -7px -7px 43px #d1d1d1, 
             7px 7px 43px #ffffff;
  -ms-box-shadow: -7px -7px 43px #d1d1d1, 
             7px 7px 43px #ffffff;
  -o-box-shadow: -7px -7px 43px #d1d1d1, 
             7px 7px 43px #ffffff;
  box-shadow: -7px -7px 43px #d1d1d1, 
             7px 7px 43px #ffffff;
}
.aboutimgdark {
  border-radius: 8px;
}
.nopadding {
  padding: 0;
}


/* Buttons */

/* Light */
.butlight {
  color: #eeeeee;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fa605b;
  text-decoration: none;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 10px #d4d4d4, 
             -5px -5px 10px #ffffff;
  -moz-box-shadow: 5px 5px 10px #d4d4d4, 
             -5px -5px 10px #ffffff;
  -ms-box-shadow: 5px 5px 10px #d4d4d4, 
             -5px -5px 10px #ffffff;
  -o-box-shadow: 5px 5px 10px #d4d4d4, 
             -5px -5px 10px #ffffff;
  box-shadow: 5px 5px 10px #d4d4d4, 
             -5px -5px 10px #ffffff;
}
.butlight:hover {
  color: #eeeeee;
  text-decoration: none;
}
.butlight:active {
  color: #eeeeee;
  text-decoration: none;
}


/* Dark */
.butdark {
  color: #111;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #42dadf;
  text-decoration: none;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 10px #0a0a0a, 
             -5px -5px 10px #181818;
  -moz-box-shadow: 5px 5px 10px #0a0a0a, 
             -5px -5px 10px #181818;
  -ms-box-shadow: 5px 5px 10px #0a0a0a, 
             -5px -5px 10px #181818;
  -o-box-shadow: 5px 5px 10px #0a0a0a, 
             -5px -5px 10px #181818;
  box-shadow: 5px 5px 10px #0a0a0a, 
             -5px -5px 10px #181818;
}
.butdark:hover {
  text-decoration: none;
  color: #111;
}
.butdark:active {
  text-decoration: none;
  color: #111;
}


/* Text Sizes */
.text-1 {
  font-size: calc(100% + 5vh + 5vw);
}
@media (max-width: 400px) {
  .text-1 {
    font-size: calc(100% + 3vh + 3vw);
  }
}
.text-6 {
  font-size: calc(100% + 0.6vh + 0.6vw);
}
.text-8 {
  font-size: calc(100% + 0.2vh + 0.2vw);
}
.text-9 {
  font-size: calc(90% + 0.1vh + 0.1vw);
}

@media (max-width: 400px) {
  .text-9 {
    font-size: calc(70% + 0.1vh + 0.1vw);
  }
} 

.text-10 {
  font-size: calc(70% + 0.1vh + 0.1vw);
}

/* Fixed */
.fixedlight:hover {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  -webkit-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff !important;
  -moz-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff !important;
  -ms-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff !important;
  -o-box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff !important;
  box-shadow: 18px 18px 55px #d9d9d9, 
                -18px -18px 55px #ffffff !important;
}
.fixeddark:hover {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  -webkit-box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818 !important;
  -moz-box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818 !important;
  -ms-box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818 !important;
  -o-box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818 !important;
  box-shadow: 5px 5px 13px #0a0a0a, 
             -5px -5px 13px #181818 !important;
}

/* React Animations */
.fade-appear {
  opacity : 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity 1000ms ease;
  -moz-transition: opacity 1000ms ease;
  -ms-transition: opacity 1000ms ease;
  -o-transition: opacity 1000ms ease;
  transition: opacity 1000ms ease;
}
 

/* NavIcons */
.largenav {
  margin-left: 45%;
  margin-right: 45%;
}
.smallnav {
  margin-left: 30%;
  margin-right: 30%;
}

@media (min-width: 992px) {
  .blogtext {
    padding-top: 80px !important;
    padding-left: 200px !important;
    padding-right: 200px !important;
  }
}

.heart {
  color: rgb(243, 85, 36) !important;
  margin-left: 8px;
}

/* Spinners */
.spin-dark {
  color: #42dadf;
}

.spin-light {
  color: #fa605b;
}